<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Создание портфолио</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Space+Grotesk:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1 class="form-title">Создай своё портфолио</h1>
    <form action="/generate" method="POST" enctype="multipart/form-data">
        <label>Name:</label>

        <input type="text" name="name" required>


        <label>About myself:</label>

        <textarea name="bio" rows="4"></textarea>


        <label>Skills(Enter separated by commas):</label>

        <input type='text' name="skills" placeholder="For exemple: Python, Flask, HTML">


        <label>github username:</label>

        <input type='text' name="github" required>


        <label>Telegram</label>

        <input type="text" name="telegram" >


        <label>input avatar:</label>


        <input type="file" name="avatar" accept="image/*">

        <button type="submit">Создать</button>
    </form>
        <div style="text-align: center; margin-top: 20px;">
            <a href="{{ url_for('index') }}" class="button-secondary">wath all partfolios</a>
        </div>
</body>
</html>

